section.places h1 {
    font-size: 30px;
}

section.places article h2 {
    font-size: 30px;
    position: absolute;
    bottom: 67%;
    margin-left: auto;
}

section.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
    display: inline-flex;
    position: relative;
    justify-content: center;
    left: 30px;
}

#bottom_box {
    position: relative;
    margin-left: 25%;
}

section.places .price_by_night {
    color: #FF5A5F;
    border: #FF5A5F 4px solid;
    border-radius: 45px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    left: 321px;
}

section.places .information{
    height: 80px;
    border-top: #c04141 1px solid;
    border-bottom: #ce5050 1px solid;
    margin-top: 130px;
    width: 100%;
    position: relative;
    right: 34px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section.places .max_guest,
section.places .number_rooms,
section.places .number_bathrooms {
    width: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



